.scroll-pane{
   -fx-background-color:transparent;

}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/*Ширина ползунка*/
.scroll-bar {
    -fx-font-size: 1px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 1em;
    -fx-background-width: 1px;
}

/*задет цвет квадрата*/
.scroll-pane > .corner {
    -fx-background-color: black;
}

.slider {
    -fx-padding: 10 0 0 0;
}

.slider .track {
    -fx-background-color: white;
   /* -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: black;*/
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.slider .thumb {
    -fx-background-color: #7268A7;
   /* -fx-border-radius: 50%;
    -fx-border-color: black;*/
    -fx-background-image :url("pan.png");
    -fx-padding: 1;
}

.slider .axis {
    -fx-tick-label-fill: white;
    -fx-tick-mark-fill: white;
}

/*.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: red;
}*/

/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/*.slider, .progress-bar {
    -slider-track-color: derive(-fx-control-inner-background, -5%) ;
}

.slider .track, .progress-bar .track {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        -slider-track-color ;
}

.progress-bar .bar {
    -fx-background-color: transparent ;
}*/
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
