.scroll-pane{
   -fx-background-color:transparent;

}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.slider {
    -fx-padding: 10 0 0 0;
}

.slider .track {
    -fx-background-color: red;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.slider .thumb {
    -fx-background-color: limegreen;
    -fx-border-radius: 50%;
    -fx-border-color: black;
}

.slider .axis {
    -fx-tick-label-fill: white;
    -fx-tick-mark-fill: white;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: white;
}